
.main-header{
    background-color: #A44A3F;
    color: #F6F4D2;
    padding: 0.5rem 1.5rem;
    margin-bottom: 30px;
}

.main-header .logo {
    cursor: pointer;
}

.main-header h1 {
    font-size: 2.75rem;
}

.main-header a {
    color: #F6F4D2;
    text-decoration: none;
    font-size: 1.5rem;
}

.main-header a:hover {
    border-bottom: 2px solid #F6F4D2;
}

.main-header a:active {
    font-weight: 900;
}

.main-header a.seperator {
    margin: 0 0.75rem;
    border-bottom: none;
    
}

/* .main-header a:not(:last-child) {
    margin-inline-end: 0.75rem;
} */
/* 
.main-header a:not(:last-child)::after {
    content: '|';
    margin-inline-start: 0.75rem;
} */