.home-page {
    text-align: center;
    background-color: #F6F4D2;
}

.home-page h1 {
    font-size: 5rem;
    color: #582720;
    z-index: 0;
    margin: 2rem;
}

.home-page h3 {
    font-size: 3rem;
    color: #F19C79;
    z-index: 0;
    margin: 0;
    /* margin-block-end: 1.35rem; */
}

.home-page img{
    height: 450px;
    width: 650px;
    margin: 10px auto;
}