@import './../apps/mister-mail/css/mail-app.css';
@import '../apps/miss-keep/css/keep-app.css';
@import './header.css';
@import './footer.css';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

main {
    min-height: 70vh;
}

h1 {
    text-align: center;
}


.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}