@import './../apps/mister-mail/css/mail-app.css';
@import './header.css';
@import './footer.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

/* Karin */

/* Helpers */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}