.book-list h2 {
    text-align: center;
    font-size: 3rem;
    color: #5E6472;
}

.book-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.book-list li {
    display: inline-block;
    margin: 0;
    height: 350px;
}

.book-preview {
    background-color: #AED9E0;
    color: #5E6472;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    width: 200px;
    box-shadow: 3px 3px 5px 3px #7f8699;
    cursor: pointer;
}

.book-preview h3 {
    text-transform: capitalize;
}
