.mail-preview ul {
    list-style-type: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin: 0;
}

.unread {
    font-weight: bold;
}

.read {
    font-weight: normal;
}

.subject {
    width: 100px;
}

.mail-message {
    width: 200px;
}