.mail-list {
    width: 800px;
    border: 1px solid black;
}

.mail-list img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 635px) {
    .mail-container {
        flex-direction: column;
        align-items: center;
    }
    .mail-list {
        max-width: 400px;
    }
    .mail-list ul {
        display: block;
    }
}