.mail-preview ul {
    list-style-type: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.unread {
    font-weight: bold;
}

.read {
    font-weight: normal;
}

.subject {
    width: 100px;
}

.mail-message {
    width: 200px;
}

.mail-preview li .starred-mail-btn {
    border: none;
    background-color: white;
}

@media screen and (max-width: 635px) {
    .mail-preview ul {
        position: relative;
    }
    .sent-at {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}