.side-nav {
    width: 300px;
}

.compose-mail-btn {
    cursor: pointer;
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 14px;
    width: 120px;
    padding: 10px;
}

.side-nav ul {
    list-style-type: none;
    height: 300px;
}

.side-nav ul li{
    cursor: pointer;
}

.side-nav img{
    width: 25px;
    height: 25px;
}

