.book-preview {
    background-color: #F6F4D2; 
    color: #5E6472;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    width: 200px;
    box-shadow: 3px 3px 5px 3px #7f8699;
    cursor: pointer;
}

.book-preview h3 {
    text-transform: capitalize;
}
