@import "./range.css";

.book-filter {
    background-color: #F6F4D2;
    padding: 1.5rem 0.5rem;
    text-align: center;
}

.book-filter input[type="text"] {
    font-size: 1.25rem;
    border: 2px solid #5E6472;
    color: #5E6472;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin-inline-end: 0.5rem;
}

.book-filter button {
    color: #5E6472;
    font-size: 1.2rem;
    border: 2px solid #FFA69E;
    border-radius: 1.5rem;
    background-color: #FFA69E;
    padding: 0.5rem 1rem;
    margin-inline-start: 0.5rem;

}

.book-filter button:hover {
    background-color: #fff;
    border-color: #5E6472;
}