.add-book-container{
    text-align: center;
    margin-top: 10px;
}

.add-book-container input[type="search"] {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: none;
    border: 1px solid black;
}

.add-book-container button {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    background-color:  #A44A3F;
    color: white;
}