input[type=range] {
    width: 15%;
    margin: 7.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #5E6472;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -7.5px;
    width: 26px;
    height: 26px;
    background: #F19C79;
    border: 1.8px solid #582720;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5E6472;
  }
  input[type=range]::-moz-range-track {
    background: #5E6472;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #ffa69e;
    border: 1.8px solid #c0807a;
    border-radius: 15px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.2px 0;
    color: transparent;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #5E6472;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #5E6472;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 26px;
    height: 26px;
    background: #ffa69e;
    border: 1.8px solid #c0807a;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #5E6472;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #5E6472;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range] {
      margin: 0;
    }
  }
  
  