.note-img {
    background-color: #f7cbb9;
    max-width: 45vw;
    border: 2px solid #582720;
    border-radius: 0.5rem;
    margin: 1rem;
}

.note-img input {
    background-color: transparent;
    border: transparent;
    margin: 1rem;
    font-size: 2rem;
    color: #582720;
    font-weight: 700;
    text-align: center;
}

.note-img input:hover, .note-img input:focus {
    border-bottom: 2px solid #582720;
}

.note-img img {
    max-width: 40vw;
    max-height: 45vh;
    object-fit: cover;
    margin-bottom: 1rem;
}